/* General Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
  align-items: center;
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Container and Card Styles */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.card {
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
}

/* Header Styles */
h1 {
  text-align: center;
  color: #333;
}

/* Button Styles */
button {
  background-color: #6200ea;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #3700b3;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Select and Textarea Styles */
select {
  font-size: 16px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 10px;
}

textarea {
  width: 100%;
  max-width: 100%;
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-top: 10px;
  resize: none;
}

/* Utility Classes */
.hidden {
  display: none;
}

.textarea_card {
  display: flex;
  flex-direction: row;
  align-items: center;

}

.convert_btn {
  border: '1px solid red';
  margin: 5px;
  padding: 5px;
}